  .wrapper {
    width: 560px;
    background-color: rgb(255, 255, 255);
    padding: 3rem;
  }

  .boton-iniciar {
    border: none;
    width: 135px;
    height: 40px;
    background-color: #ff6000;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
  }

  .my-class{
  display:flex;
  align-items:Center;
  }

  .marginEye {
    margin-left:8px;
    font-size: 1.5rem;
}

