.todo {
    display: flex;
    justify-content: space-around;
    place-items: center;
    min-height: 100vh;
  }
  
  .img-logo{
    width: 150px;
  }


  .wrapper {
    width: 480px;
    background-color: #f27019;
    border-radius: 25px;
    padding: 5rem;
    text-align: center;
    color: rgb(255, 255, 255);
  }
   
  .text-login input {
    width: 90%;
    border: none;
    outline: none;
    border-radius: 15px;
    
    padding: 10px;
  }
  
  .text-login p {
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
  }
  
  .boton-iniciar {
    border: none;
    width: 200px;
    height: 45px;
    background-color: #373737;
    color: white;
    border-radius: 20px;
  }
  