  .wrapper {
    width: 510px;
    height: 435px;
    background-color: rgb(255, 255, 255);
    padding: 6rem;
  }

  .boton-iniciar{
    border: none;
    width: 135px;
    height: 40px;
    background-color: #eb812a;
    color: white;
    border-radius: 8px;
  }

 
  