.navbar {
  background-color: #e88949;
  margin-bottom: 15px;
}

.nav-link {
  color: rgb(255, 255, 255);
}

.nav-link:hover {
  color: rgb(0, 0, 0);
}

.logo-beral {
  height: 25px;

}

.dropdown-1{
  list-style: none;
}

