  .img-logo{
    width: 150px;
  }

  .div-img{
    background-color: #ff6000;
    margin-bottom: 1rem;
  }
   

  .todo {
    display: flex;
    justify-content: space-around;
    place-items: center;
    min-height: 100vh;
    background-color: rgb(215, 215, 215);
  }

  .borderLeft
  {
    border-left-color: #ff6000;
    border-left-width: 0.3rem;
    border-left-style: solid;
  }

  .div-footer-color {
    background-color: #212529;
    color: white;
  }
  
 